In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('LaLiga_Matches_1995-2021.csv')

In [31]:
data

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR
0,1995-96,2/9/1995,La Coruna,Valencia,3,0,H,2.0,0.0,H
1,1995-96,2/9/1995,Sp Gijon,Albacete,3,0,H,3.0,0.0,H
2,1995-96,3/9/1995,Ath Bilbao,Santander,4,0,H,2.0,0.0,H
3,1995-96,3/9/1995,Ath Madrid,Sociedad,4,1,H,1.0,1.0,D
4,1995-96,3/9/1995,Celta,Compostela,0,1,A,0.0,0.0,D
...,...,...,...,...,...,...,...,...,...,...
10039,2020-21,22/05/2021,Osasuna,Sociedad,0,1,A,0.0,0.0,D
10040,2020-21,22/05/2021,Real Madrid,Villarreal,2,1,H,0.0,1.0,A
10041,2020-21,22/05/2021,Valladolid,Ath Madrid,1,2,A,1.0,0.0,H
10042,2020-21,23/05/2021,Granada,Getafe,0,0,D,0.0,0.0,D
10043,2020-21,23/05/2021,Sevilla,Alaves,1,0,H,0.0,0.0,D

In [33]:
data_q1 = data

In [34]:
data_q1 = data_q1.drop(['Date', 'HTHG' ,'HTAG' , 'HTR' ],axis = 1 )

In [35]:
data_q1

        Season     HomeTeam    AwayTeam  FTHG  FTAG FTR
0      1995-96    La Coruna    Valencia     3     0   H
1      1995-96     Sp Gijon    Albacete     3     0   H
2      1995-96   Ath Bilbao   Santander     4     0   H
3      1995-96   Ath Madrid    Sociedad     4     1   H
4      1995-96        Celta  Compostela     0     1   A
...        ...          ...         ...   ...   ...  ..
10039  2020-21      Osasuna    Sociedad     0     1   A
10040  2020-21  Real Madrid  Villarreal     2     1   H
10041  2020-21   Valladolid  Ath Madrid     1     2   A
10042  2020-21      Granada      Getafe     0     0   D
10043  2020-21      Sevilla      Alaves     1     0   H

[10044 rows x 6 columns]

In [62]:
season2021 = data_q1[data_q1['Season'] == '2020-21']

In [74]:
season2021

        Season     HomeTeam    AwayTeam  FTHG  FTAG FTR
9664   2020-21        Eibar       Celta     0     0   D
9665   2020-21      Granada  Ath Bilbao     2     0   H
9666   2020-21        Cadiz     Osasuna     0     2   A
9667   2020-21       Alaves       Betis     0     1   A
9668   2020-21   Valladolid    Sociedad     1     1   D
...        ...          ...         ...   ...   ...  ..
10039  2020-21      Osasuna    Sociedad     0     1   A
10040  2020-21  Real Madrid  Villarreal     2     1   H
10041  2020-21   Valladolid  Ath Madrid     1     2   A
10042  2020-21      Granada      Getafe     0     0   D
10043  2020-21      Sevilla      Alaves     1     0   H

[380 rows x 6 columns]

In [75]:
s1 = season2021
s2 = season2021.rename(columns={'HomeTeam': 'AwayTeam', 'AwayTeam': 'HomeTeam'})

In [76]:
s2

        Season     AwayTeam    HomeTeam  FTHG  FTAG FTR
9664   2020-21        Eibar       Celta     0     0   D
9665   2020-21      Granada  Ath Bilbao     2     0   H
9666   2020-21        Cadiz     Osasuna     0     2   A
9667   2020-21       Alaves       Betis     0     1   A
9668   2020-21   Valladolid    Sociedad     1     1   D
...        ...          ...         ...   ...   ...  ..
10039  2020-21      Osasuna    Sociedad     0     1   A
10040  2020-21  Real Madrid  Villarreal     2     1   H
10041  2020-21   Valladolid  Ath Madrid     1     2   A
10042  2020-21      Granada      Getafe     0     0   D
10043  2020-21      Sevilla      Alaves     1     0   H

[380 rows x 6 columns]

In [77]:
s2['FTR']=s2.apply(lambda x: x['FTR'] if x['FTR'] == 'D' else 'A' if x['FTR'] == 'H' else 'H' ,axis=1)

In [78]:
s2

        Season     AwayTeam    HomeTeam  FTHG  FTAG FTR
9664   2020-21        Eibar       Celta     0     0   D
9665   2020-21      Granada  Ath Bilbao     2     0   A
9666   2020-21        Cadiz     Osasuna     0     2   H
9667   2020-21       Alaves       Betis     0     1   H
9668   2020-21   Valladolid    Sociedad     1     1   D
...        ...          ...         ...   ...   ...  ..
10039  2020-21      Osasuna    Sociedad     0     1   H
10040  2020-21  Real Madrid  Villarreal     2     1   A
10041  2020-21   Valladolid  Ath Madrid     1     2   H
10042  2020-21      Granada      Getafe     0     0   D
10043  2020-21      Sevilla      Alaves     1     0   A

[380 rows x 6 columns]

In [69]:
full_season = s1.append(s2)

In [70]:
full_season

        Season    HomeTeam     AwayTeam  FTHG  FTAG FTR
9664   2020-21       Eibar        Celta     0     0   D
9665   2020-21     Granada   Ath Bilbao     2     0   H
9666   2020-21       Cadiz      Osasuna     0     2   A
9667   2020-21      Alaves        Betis     0     1   A
9668   2020-21  Valladolid     Sociedad     1     1   D
...        ...         ...          ...   ...   ...  ..
10039  2020-21    Sociedad      Osasuna     0     1   H
10040  2020-21  Villarreal  Real Madrid     2     1   A
10041  2020-21  Ath Madrid   Valladolid     1     2   H
10042  2020-21      Getafe      Granada     0     0   D
10043  2020-21      Alaves      Sevilla     1     0   A

[760 rows x 6 columns]

In [107]:
full_season['POINT']=full_season.apply(lambda x: 1 if x['FTR'] == 'D' else 3 if x['FTR'] == 'H' else 0 ,axis=1)

In [80]:
full_season

        Season    HomeTeam     AwayTeam  FTHG  FTAG FTR  POINT
9664   2020-21       Eibar        Celta     0     0   D      1
9665   2020-21     Granada   Ath Bilbao     2     0   H      3
9666   2020-21       Cadiz      Osasuna     0     2   A      0
9667   2020-21      Alaves        Betis     0     1   A      0
9668   2020-21  Valladolid     Sociedad     1     1   D      1
...        ...         ...          ...   ...   ...  ..    ...
10039  2020-21    Sociedad      Osasuna     0     1   H      3
10040  2020-21  Villarreal  Real Madrid     2     1   A      0
10041  2020-21  Ath Madrid   Valladolid     1     2   H      3
10042  2020-21      Getafe      Granada     0     0   D      1
10043  2020-21      Alaves      Sevilla     1     0   A      0

[760 rows x 7 columns]

In [82]:
full_season.groupby(['HomeTeam'])['POINT'].agg([ 'sum']).sort_values('sum',ascending = False)

             sum
HomeTeam
Ath Madrid    86
Real Madrid   84
Barcelona     79
Sevilla       77
Sociedad      62
Betis         61
Villarreal    58
Celta         53
Ath Bilbao    46
Granada       46
Osasuna       44
Cadiz         44
Valencia      43
Levante       41
Getafe        38
Alaves        38
Elche         36
Huesca        34
Valladolid    31
Eibar         30

In [88]:
data_q1_total = data

In [89]:
data_q1_total = data_q1_total.drop(['Date', 'HTHG' ,'HTAG' , 'HTR' ],axis = 1 )

In [90]:
t1 = data_q1_total
t2 = data_q1_total.rename(columns={'HomeTeam': 'AwayTeam', 'AwayTeam': 'HomeTeam'})
t2['FTR']=t2.apply(lambda x: x['FTR'] if x['FTR'] == 'D' else 'A' if x['FTR'] == 'H' else 'H' ,axis=1)
full_season_history = t1.append(t2)

In [91]:
full_season_history['POINT'] = full_season_history.apply(lambda x: 1 if x['FTR'] == 'D' else 3 if x['FTR'] == 'H' else 0 ,axis=1)

In [92]:
full_season_history

        Season    HomeTeam     AwayTeam  FTHG  FTAG FTR  POINT
0      1995-96   La Coruna     Valencia     3     0   H      3
1      1995-96    Sp Gijon     Albacete     3     0   H      3
2      1995-96  Ath Bilbao    Santander     4     0   H      3
3      1995-96  Ath Madrid     Sociedad     4     1   H      3
4      1995-96       Celta   Compostela     0     1   A      0
...        ...         ...          ...   ...   ...  ..    ...
10039  2020-21    Sociedad      Osasuna     0     1   H      3
10040  2020-21  Villarreal  Real Madrid     2     1   A      0
10041  2020-21  Ath Madrid   Valladolid     1     2   H      3
10042  2020-21      Getafe      Granada     0     0   D      1
10043  2020-21      Alaves      Sevilla     1     0   A      0

[20088 rows x 7 columns]

In [112]:
full_season_history.groupby(['Season','HomeTeam'])['POINT'].agg([ 'sum']).sort_values('sum',ascending = False,).head(30)

                     sum
Season  HomeTeam
2012-13 Barcelona    100
2011-12 Real Madrid  100
2009-10 Barcelona     99
2010-11 Barcelona     96
2009-10 Real Madrid   96
2014-15 Barcelona     94
2016-17 Real Madrid   93
2017-18 Barcelona     93
1996-97 Real Madrid   92
2014-15 Real Madrid   92
2010-11 Real Madrid   92
2015-16 Barcelona     91
2011-12 Barcelona     91
2013-14 Ath Madrid    90
2015-16 Real Madrid   90
2016-17 Barcelona     90
1996-97 Barcelona     90
2015-16 Ath Madrid    88
2018-19 Barcelona     87
2013-14 Real Madrid   87
        Barcelona     87
1995-96 Ath Madrid    87
2008-09 Barcelona     87
2019-20 Real Madrid   87
2020-21 Ath Madrid    86
2007-08 Real Madrid   85
2012-13 Real Madrid   85
2020-21 Real Madrid   84
2004-05 Barcelona     84
1995-96 Valencia      83